* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

#root {
    position: relative;
    width: 100%;
    min-height: 100vh;
}

.add {
    position: fixed;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    width: 400px;
    background-color: #eee;
}

input {
    width: 100%;
    display: block;
    min-height: 30px;
    border: 1px solid #dddddd98;
    outline: none;
    font-size: 13px;
    margin-bottom: 5px;
    border-radius: 6px;
    padding-left: 5px;
    padding-right: 5px;
}

label {
    display: block;
    font-size: 13px;
    padding: 0 5px;
    margin-bottom: 1px;
}
/* 
input[type='radio'] {
    width: 15px;
    height: 15px;
    transition: 0.4s;
} */
