.outline {
  border: 0.1rem solid #6265a7;
  border-radius: 5px;
  color: #6265a7;
  background-color: transparent;
  padding: 8px 10px;
  font-size: 16px;
  cursor: pointer;
}

.outline:hover {
  background-color: #eee;
  transition: 0.3s;
}
.outline:not(:hover) {
  transition: 0.3s;
}
